name: reusable workflow
on:
  workflow_call:
    inputs:
        artifact-name:
          required: false
          type: string
          default: dist
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get build artifacts
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
      - name: output the information
        run: |
          echo "deploying the website"