name: reusable workflow
on:
    workflow_call:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: output the information
        run: echo "REUSABLE_WORKFLOW: This is the deploy job"